<main class="main">
  <h1 class="title">
    {{ title }}
  </h1>
  <div class="submit-box">
    <div class="action">
      <p class="instruction">Enter new task</p>
      <input type="text" class="task-input" [(ngModel)]="newTask"/>
    </div>
    <button class="send" (click)="addTask()">Submit</button>
    <div class="tasks">      
        <app-task *ngFor="let task of tasks; let i = index" [name]="task.name" [completed]="task.completed" (click)="toggleTask(i)"/>       
    </div>

    <button class="clear" (click)="clear()">
        Clear Completed
    </button>    
  </div>
</main>
